.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 6px 10px;
  text-align: left;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 400px;
}

.search-box button {
  padding: 6px 10px;
  background-color: darkorange;
  border: none;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
}

.search-box button:hover {
  background-color: orangered;
}

.lupa {
  width: 20px;
  height: auto;
}
