@import "tailwindcss";

@theme {
  --color-custom-peach: #f8e1cf;
  --color-gold: #FFD700;
  --font-sans: 'Lora', serif;
}

@layer utilities {
  .bg-custom-peach {
    background-color: var(--color-custom-peach);
  }

  .bg-gold {
    background-color: var(--color-gold);
  }
}